<div class="section section-assign">
  <h3><i class="fa-solid fa-user-plus"></i> Assign Role to User</h3>
  <div class="field">
    <label>Realm: <span class="required">*</span></label>
    <input type="text" [ngModel]="currentRealm" [ngModelOptions]="{standalone: true}" readonly placeholder="Realm name" />
  </div>
  <form [formGroup]="assignForm" (ngSubmit)="assignRole.emit()">
    <div class="field">
      <label>Select User: <span class="required">*</span></label>
      <select formControlName="userId">
        <option value="">--Select User--</option>
        <option *ngFor="let user of users" [value]="user.id">{{ user.username }} ({{ user.email }})</option>
      </select>
    </div>
    <div class="field">
      <label>Select Client: <span class="required">*</span></label>
      <select formControlName="client">
        <option value="">--Select Client--</option>
        <option *ngFor="let client of clients" [value]="client">{{ client }}</option>
      </select>
    </div>
    <div class="field">
      <label>Select Role: <span class="required">*</span></label>
      <select formControlName="roleName" multiple size="5">
        <option value="">--Select Role--</option>
        <option *ngFor="let role of roles" [value]="role.name">{{ role.name }}</option>
      </select>
    </div>
    <button type="submit" [disabled]="assignForm.invalid || !currentRealm"><i class="fa-solid fa-check-circle"></i> Assign Role</button>
  </form>
</div>
